<% if current_user %>
  <%= link_to 'Back', user_path(@user.id), class: "btn btn-primary btn-lg" %>
<% else %>
  <%= link_to 'Back', doctor_path(@user.id), class: "btn btn-primary btn-lg" %>
<% end %>

<h1 class="display-3 text-center mt-4">Your Prescription</h1>
<div class="row card-body mt-4">
  <div class="col-md-7">
    <h5>Recommendation from doctor: <strong><%= @appointment.doctor.full_name %></strong></h5>
    <p><%= @prescription.prescript %></p>
    <% if current_doctor %>
      <div>
        <%= button_to "Delete this recommendation", @prescription, 'method': :delete, class: 'btn btn-danger text-light rounded-2 my-2' %>
      </div>
    <% end %>
  </div>
</div>